.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos th {
    background-color: rgb(18, 10, 136);
    color: #fff
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: #ccc;
}